<!DOCTYPE html>
<html>
  <head><meta charset="utf-8"><title>Gràcies</title></head>
  <body>
    <h1>Gràcies per la compra</h1>
    <p>El teu pagament s\'ha procesat. Rebràs un correu electrònic d\'agraïment aviat.</p>
  </body>
</html>
